#Topanchor {
    -fx-background-color: #00008B; /* Dark Blue */
}

#welcomelabel {
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-text-fill: white;
}
#Logouthbox
{
-fx-background-color:  #ADD8E6;
-fx-text-fill: white;
-fx-text-fill: white;
}
VBox {
    -fx-background-color: #ADD8E6; /* Light Blue */
    -fx-border-color: #000000;     /* Optional: adds border for visibility */
    -fx-border-width: 1;
    -fx-alignment: center;         /* Center align contents */
    -fx-padding: 10;
    -fx-spacing: 5;
}


VBox Label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #000080; /* Navy text for contrast */
}




